/*FOR ALL VIEWS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: "����" inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body, button, input, select, textarea {
    font: 12px/1.5 tahoma,arial,����;
}


/*-------------------auth added by Adrian----*/
.contentlist .del:hover{background:#DDEBF4; cursor: pointer;}
.contentlist .edit:hover{background:#DDEBF4; cursor: pointer;}
body a{text-decoration: none; color:#000;}

#add_user:hover, #add_role:hover{color:red; cursor:pointer;}


