<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

	{% include 'auth/common_admin.html' %}
    <div id="mainPanel">
    	<div id="search">
        	<input id="searchInput" class="search-text" placeholder="当前页文件搜索">
        </div>
        <div id="crumb">
        {% load  filters%}
        	<span style="padding-left:20px;color:#388FC9;font-size:13px;">{{ title }}</span><span style="margin-left: 20px;" id="{{opr_id}}"><a href="javascript:history.go(-1);"><<返回上一级</a></span>
        	<span id="contents_list" style="display:none" folder_ids="" files=""></span>
        	<span id="loading" style="display:none"><img  src='/site_media/img/loading.gif' /></span>
        </div>
        <div id="filelist" style="padding:10px 20px;">
            <table style="border:1px dotted #CCC;">
						<thead>
							<tr>
							<th class="name">域信息(域ID号：<span id="domain_id">{{domain_id}}</span>)</th>
							<th class="name"></th>
							</tr>
						</thead>
                        
					            <tr class="contentlist">
						            <td class="name">域名称</td>
						            <td class="name" >{{content.0.0}}</td>
					            </tr>                               
					            <tr class="contentlist">
						            <td class="name">域类型</td>
						            <td class="name"><span id="domain_type_id" style="display:none">{{content.0.8}}</span>{{content.0.1}}</td>
					            </tr>                               
					            <tr class="contentlist">
						            <td class="name">域所属空间</td>
						            <td class="name">{{content.0.2}}</td>
					            </tr>                               
											 			
							
                        
                        
		
			</table>
			
			<table style="margin-top:20px;">
						<thead>
							<tr>
							<th class="">现有用户<span style="color:green;padding-left:30px;font-size:12px;" id="add_user_domain_role">+添加域用户</span></th>
							<th class=""></th>
							<th class=""></th>
							<th class=""></th>
							</tr>
						</thead>
						
						{%  for n in content %}
								{% if n.5 %}
					            <tr class="contentlist">
						            <td class="">{{n.5}}</td>
						            <td class="" >{{n.6}}</td>
						            <td class="">
									{% ifequal n.7 1 %} 禁用 {% endifequal %}
									{% ifequal n.7 0 %} 激活 {% endifequal %} 						           
									</td>
						            <td class="" >删除</td>
					            </tr>                               
					            {% endif %}
						{% endfor %}
                        
											 			
							
                        
                        
		
			</table>
        	
        </div>
    
    
    </div>
    	




</div>




</body>
</html>
