<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

	{% include 'auth/common.html' %}
    <div id="mainPanel">
    	<div id="search">
        	<input id="searchInput" class="search-text" placeholder="当前页文件搜索">
        </div>
        <div id="crumb">
        {% load  filters%}
        	<span style="padding-left:20px;color:#388FC9;font-size:13px;"><a href="/domainmgr" id="dmgr"  style="background:green;color:#FFF;padding:3px 8px;">域管理</a></span>
        	<span id="contents_list" style="padding-left:20px;font-size:13px;"><a href="/spacemgr" id="smgr" >空间管理</a></span>
        	<span id="loading" style="display:none"><img  src='/site_media/img/loading.gif' /></span>
        </div>
        
        
        <div id="filelist" style="">
           {% if pub %}
			<table>
						<thead>
							<tr>
							<th class="">public 域名称</th>
							<th class=""></th>
							<th class=""></th>
							<th class=""></th>
							<th class=""></th></tr>
						</thead>
                        {%  for n in pub %}
					            <tr class="contentlist">
						            <td class="">{{n.1}}</td>
						            <td class="size">{{n.3}}GB</td>
						            <td class="num">{{n.2}}</td>
           						    <td class="edit" idf="{{n.0}}" type="{{type}}" active_code="{{n.4}}">{% ifequal n.4 0 %}
									    {{'激活'}}{% else %}{{'禁用'}}
									{% endifequal %}</td>
						            <td class="del" idf="{{n.0}}" type="{{type}}">删除</td>
					            </tr>                               
						{% endfor %}
											 			
							
                        
                        
		
			</table>
			{% endif %}
			{% if pro %}
			
			<table>
						<thead>
							<tr>
							<th class="">protected 域名称</th>
							<th class=""></th>
							<th class=""></th>
							<th class=""></th>
							<th class=""></th></tr>
						</thead>
                        {%  for n in pro %}
					            <tr class="contentlist">
						            <td class="">{{n.1}}</td>
						            <td class="size">{{n.3}}GB</td>
						            <td class="num">{{n.2}}</td>
         						    <td class="edit" idf="{{n.0}}" type="{{type}}" active_code="{{n.4}}">{% ifequal n.4 0 %}
									    {{'激活'}}{% else %}{{'禁用'}}
									{% endifequal %}</td>
						            <td class="del" idf="{{n.0}}" type="{{type}}">删除</td>
					            </tr>                               
						{% endfor %}
											 			
							
                        
                        
		
			</table>
			
			{% endif %}
			
			{% if pri %}
			<table>
						<thead>
							<tr>
							<th class="">private 域名称</th>
							<th class=""></th>
							<th class=""></th>
							<th class=""></th>
							<th class=""></th></tr>
						</thead>
                        {%  for n in pri %}
					            <tr class="contentlist">
						            <td class="">{{n.1}}</td>
						            <td class="size">{{n.3}}GB</td>
						            <td class="num">{{n.2}}</td>
						            <td class="edit" idf="{{n.0}}" type="{{type}}" active_code="{{n.4}}">{% ifequal n.4 0 %}
																    {{'激活'}}{% else %}{{'禁用'}}
																{% endifequal %}</td>
						            <td class="del" idf="{{n.0}}" type="{{type}}">删除</td>
						            
						            							            						
					            </tr>                               
						{% endfor %}
											 			
							
                        
                        
		
			</table>
			
			{% endif %}
			
			
			
			
        	
        </div>
    
    
    </div>
    	




</div>




</body>
</html>
